@import '../var';

.accordion {
    margin-bottom: 20px;
    border-radius: 7px;
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
    &_header {
      background: $white;
      border-radius: 7px 7px 0px 0px;
      display: flex;
      height: 50px;
      padding: 0px 20px;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
    }
    h6 {
      width: 80%;
    }
    .border-bt {
      opacity: 0.10000000149011612;
      background: $burgundy;
      height: 1px;
    }
    &_body-wrapper {
      overflow: hidden;
      height: 0;
      border-radius: 0px 0px 7px 7px;
      background: $white;
      transition: all 0.2s ease-in;
      &::-webkit-scrollbar {
        width: 5px;
      }
      
      /* Track */
      &::-webkit-scrollbar-track {
        background: rgba($gray, 0.3); 
        opacity: 0.3; 
      }
       
      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: rgba($dark-gray, 0.3);
        opacity: 0.3; 
        border-radius: 3px;
      }
      
      &.active {
        height: 170px;
        overflow-y: scroll;
      }
    }
    &_body {
      padding: 20px 14px 20px 20px;
      p {
        color: $dark-gray;
        font-size: $smD;
        font-weight: 400;
        letter-spacing: 0.14px;
        margin-bottom: 20px;
      }
    }
  
  }
  
  .accordion.obj {
    margin-top: 70px;
  }