@import '../var';

// Style steps 
.container {
  display: flex;
  gap: 30px;
  padding: 30px 10px;
  .w-50 {
    width: calc(50% - 15px);
  }

  .step-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
}
.first {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
  label {
    position: relative;
    //change width on resize
    width: calc(33% - 15px);
    display: flex;
    justify-content: center;
    padding: 15px 20px;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    border: 1px solid $white;
    border-radius: 7px;
    background: $white;
    margin-bottom: 40px;
    box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
    &:hover {
      img {
        filter: brightness(0) saturate(100%) invert(15%) sepia(86%) saturate(5533%) hue-rotate(338deg) brightness(64%) contrast(100%);
      }
    }
    &.selected {
      border-color: $burgundy;
      p {
        font-weight: 700;
      }
    }
    input {
      position: absolute;
      opacity: 0;
      width: 0;
      height: 0;
    }
    p {
      width: 100%;
      text-align: center;
    }
  }
}
.second {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 40px;
  width: 100%;
}

.custom_select {
  width: 100%;
  position: relative;
}
.dropdown {
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 7px;
  border: 1px solid $gray;
  background: $white;
  display: none;
  position: absolute;
  top: 64px;
  left: 0;
  overflow: hidden;
  z-index: 10;
  &.open {
    display: flex;
  }
  button {
    text-transform: uppercase;
    color: $dark-gray;
    font-weight: 400;
    width: 100%;
    padding: 10px 15px;
    font-family: $root;
    &:hover {
      background-color: $light-gray;
    }
  }
}
.radio {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 40px 0 140px 0;
  label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .line {
      width: 1px;
      height: 6px;
      background: #948E8C;
    }
    p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: $smD;
      color: #948E8C;
    }
    
  }
}

.third {
  label {
    display: block;
    margin: 40px 0;
  }
  .custom-checkbox_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .custom-checkbox {
    display: flex;
    margin: 10px 0 40px 0;
    p {
      font-size: $parD;
    }
    span {
      top: 2px;
    }
  }
  .title {
    font-size: $parD;
    font-family: Arial, Helvetica, sans-serif;
  }
  .show-price {
    display: flex;
    gap: 20px;
    align-items: center;
    color: $black;
    p {
      font-family: Arial;
      font-size: $h2D;
      font-weight: 700;
    }
    span {
      font-family: Arial;
      font-size: $h5D;
      font-weight: 400;
    }
  }
}
.accordion {
  margin-bottom: 20px;
  border-radius: 7px;
  box-shadow: 0px 5px 15px 2px rgba(27, 25, 24, 0.05);
  &_header {
    background: $white;
    border-radius: 7px 7px 0px 0px;
    display: flex;
    height: 50px;
    padding: 0px 20px;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
  }
  h6 {
    width: 80%;
  }
  .border-bt {
    opacity: 0.10000000149011612;
    background: $burgundy;
    height: 1px;
  }
  &_body-wrapper {
    overflow: hidden;
    height: 0;
    border-radius: 0px 0px 7px 7px;
    background: $white;
    transition: all 0.2s ease-in;
    &::-webkit-scrollbar {
      width: 5px;
    }
    
    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba($gray, 0.3); 
      opacity: 0.3; 
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: rgba($dark-gray, 0.3);
      opacity: 0.3; 
      border-radius: 3px;
    }
    
    &.active {
      height: 170px;
      overflow-y: scroll;
    }
  }
  &_body {
    padding: 20px 14px 20px 20px;
    p {
      color: $dark-gray;
      font-size: $smD;
      font-weight: 400;
      letter-spacing: 0.14px;
      margin-bottom: 20px;
    }
  }

}

.accordion.obj {
  margin-top: 70px;
}