@import '../var';

.rca {
  .custom-checkbox_wrap {
    justify-content: flex-start;
    gap: 40px;
  }
  .third {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .title {
    margin-bottom: 10px;
  }
}