@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Colors
$burgundy: #A40731;
$burgundy-hover: #C4083A;
$orange: #E8A412;
$blue: #1D749A;
$black: #1B1918;
$danger: #E83912;
$warning: #E8A412;
$success: #00834B;
$light-gray: #f9f9f9;
$gray: #E7E5E4;
$dark-gray: #42403F;
$white: #ffffff;

//Gradients
$banner: linear-gradient(61deg, #A40731 0%, #830B3A 40.06%, #002359 100%);

//Fonts 
$raleway: 'Raleway', sans-serif;
$root: 'PT Root UI';

//Font size
$h1D: 36px;
$h1M: 28px;

$h2D: 32px;
$h2M: 24px;

$h3D: 28px;
$h3M: 22px;

$h4D: 24px;
$h4M: 20px;

$h5D: 20px;
$h5M: 16px;

$h6D: 18px;
$h6M: 14px;

$parD: 18px;
$parM: 16px;

$smD: 14px;
$smM: 12px;

$xsD: 12px;
$xsM: 10px;
 
 